<div class="site-wrapper-inner">
  <div class="cover-container">
    <div class="inner cover">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default shadow">
            <div class="panel-body text-center">
              Wybierz zajęcia w których chcesz wziąć udział
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <a href class="btn btn-lg btn-block btn-primary shadow" ng-click="groupSelected('BJJ')" role="button">BJJ</a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a href class="btn btn-lg btn-block btn-success shadow" ng-click="groupSelected('Crossfit')" role="button">Crossfit</a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a href class="btn btn-lg btn-block btn-warning shadow" ng-click="groupSelected('BJJ Kids')" role="button">BJJ Kids</a>
        </div>
      </div>
    </div>
  </div>
</div>
