<div class="site-wrapper-inner">
  <div class="cover-container">
    <div class="inner cover">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12">
          <div class="panel panel-danger shadow">
            <div class="panel-heading text-center">
              Twój karnet nie jest zarejestrowany
            </div>
            <div class="panel-body">
              Poproś osobę na recepcji o zarejestrowanie Twojego karnetu
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
